################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scroolarooni/Library/metadata
*.suo
/Scroolarooni/Library
/Scroolarooni/Temp
/Scroolarooni/frametest
